# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/

# Local/test files
*.xlsx
*.log
*.png
*.webp
*.txt
TEST_*.xlsx
TEST_Export_AMC.xlsx
